# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.sqlite
db.sqlite3
media/
staticfiles/
.env

# VSCode / IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.sqlite3
*/migrations/*.log
*/migrations/*.py
!*/migrations/__init__.py

# Node (если используется фронт на npm/yarn)
node_modules/

# Environments
.env
.env.*

# PyCharm
*.iml
.idea/
